body {
  background-color: #bbd0ff;
  text-align: center;
}

h1 {
  color: white;
  padding-top: 60px;
  font-size: 100px;
  font-family: "PT Sans Narrow", sans-serif;
}

#filler {
  background-color: #6277a6;
  position: absolute;
  inset: 0;
  z-index: -1;

  transition: width 500ms ease-in-out;
}

.button {
  font-family: "Antonio", sans-serif;
  transition-duration: 0.4s;
  background-color: white;
  border: none;
  color: #6277a6;
  border-radius: 15px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}

.button:hover,
.button.active {
  background-color: #6277a6;
  color: white;
}

#time {
  font-family: "Antonio", sans-serif;
  color: white;
  font-size: 80px;
  margin-top: 150px;
}

#buttons {
  margin-top: 150px;
}

footer {
  padding-top: 200px;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
}
